<header flexLayout="column" fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end">
        <mat-icon color="accent" class="logoIcon">store</mat-icon>
        <span class="logo">Shop panel</span>
    </div>
</header>
<div flexLayput="row" fxFlex>
    <div fxFlex="20">
        <div fxFlex class="sidebar">
            <mat-selection-list [multiple]="false">
                <mat-list-option><a routerLink="/admin">Dashboard</a></mat-list-option>
                <mat-list-option><a routerLink="/admin/products">Produkty</a></mat-list-option>
                <mat-list-option><a routerLink="/admin">Link</a></mat-list-option>
                </mat-selection-list>
                
        </div>
    </div>
    <div fxFlex class="content">
        <router-outlet></router-outlet>
    </div>
</div>
